<section class="newest">
  <div class="carousel">
    <div class="slides">
      <div class="slide"></div>
      <div class="slide"></div>
      <div class="slide"></div>
    </div>
    <button
      class="carousel-button prev"
      data-carousel-button="prev"
    >&#8656;</button>
    <button
      class="carousel-button next"
      data-carousel-button="next"
    >&#8658;</button>
  </div>
</section>

<section class="ongoingMoviesSection" id="ongoingMoviesSection">
  <h2 class="ongoingMoviesSection__header">Filmer som visas nu</h2>
  <div class="ongoingMovies"></div>
</section>

<section class="carusell2">

</section>

<section class="upcomingMoviesSection">
  <h2 class="upcomingMoviesSection__header">Filmer som kommer</h2>
  <div class="upcomingMovies"></div>
</section>

<section class="gift-section">
  <h2 class="gift-section__header">BIOGÅVA</h2>
  <div class="gift-section__img-container">
    <img class="gift-section__gift-image" src="./images/popcorn.png" />
    <p class="gift-section__gift-text">
      Ge bort en bioupplevelse till någon du bryr dig om!
    </p>
  </div>
  <button class="gift-section__gift-button">Köp en gåva</button>
</section>