

<article class="movie">
  <h1>{{ movie.attributes.title }}</h1>
  {{#if movie.attributes.image }}
  <img class="movie-page-image" src="{{ movie.attributes.image.url }}">
  {{/if }}
  <div class="intro">
    {{{ movie.attributes.intro }}}
  </div>
</article>
