<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Retro - biografen som visar filmer från förr -</title>
    <meta
      name="description"
      content="Retro biografen ligger i västerås och visar filmer från förr"
    />
    <meta
      name="keywords"
      content="Biograf,retro, 50-tal, 70-tal, 80-tal, 90-tal, 00-tal, Västerås"
    />
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" crossorigin src="/assets/main-DN2P3p51.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/header-D9yd3apm.js">
    <link rel="modulepreload" crossorigin href="/assets/languageToggleBtn-CJhW3R8M.js">
    <link rel="modulepreload" crossorigin href="/assets/aboutUs-CoIAtDfk.js">
    <link rel="stylesheet" crossorigin href="/assets/header-BfYZ9aHk.css">
    <link rel="stylesheet" crossorigin href="/assets/aboutUs-BAnimolJ.css">
    <link rel="stylesheet" crossorigin href="/assets/languageToggleBtn-Cq9ijXSs.css">
    <link rel="stylesheet" crossorigin href="/assets/main-DKubGrik.css">
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="header__container"></div>
    </header>
    {{{body}}}
    <footer class="footer"></footer>

  </body>
</html>