@use "./utils.scss" as *;

body {
  background-color: $color-background;
  color: $color-text;

  .header {
    @include font-yester();
    color: $color-text;
  }

  .contact-page__title {
    @include font-poppins-semibold();
    color: $color-red;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form {
    background-color: $color-background;
    color: $color-text;
    padding: 20px;
    border-radius: 10px;

    @include breakpoint(large) {
      max-width: 600px;
      margin: 0 auto;
    }

    //Validate
    input.invalid,
    textarea.invalid {
      border: 2px solid $color-red;
    }

    //Error message
    .error-message {
      @include font-poppins();
      color: $color-red;
      font-size: 0.875rem;
      margin-top: 5px;
      margin-bottom: 10px;
      display: none; // Hidden as standard

      &.visible {
        display: block; // Show when validation throws error
      }
    }

    .contact-form__button {
      @include font-poppins();
      background-color: $color-orange;
      color: $color-text;
      padding: 10px 20px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $color-red;
      }
    }
  }
}
