@use "./utils.scss" as *;

footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0 2rem;

}

.footer__link__title {
  @include font-poppins-semibold;
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

.footer {

  &__screen, &__seats {
    margin: 0 auto;  
  }

  &__link__item {
    color: $color-text;
    @include font-poppins;
    font-size: 0.8rem;
  }

  &__link__item a {
    color: $color-text;
    @include font-poppins;
    font-size: 0.8rem;
  }

  &__link__item a:hover {
    color: $color-red;
  }

  &__seats img,
  &__screen img {
    max-width: 100%;
    height: auto;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 auto;
    max-width: 992px;

    &__list {
      //padding: 0;
      margin: 0.6rem 0;
    }
  }

 
}
