@use './utils.scss' as *;

#language-toggle-btn{
    align-self:end;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    font-family: font-poppins-semibold;
    font-size: 1.5rem;
    color:$color-text ;
    background-color: $color-cyan;
    border: solid 5px $color-cyan;
    border-radius: 10px;
    &:hover{
        background-color: $color-red;
    }
}
