@use "./utils.scss" as *;

body {
  background-color: $color-background;

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.gift-section {
  @include font-poppins;
  background-color: $color-text; // As described in FIGMA
  color: #000;
  padding: 1rem 1rem 5rem 1rem;

  h2 {
    @include font-poppins-semibold;
    font-size: 3rem;
    text-align: center;
  }

  img {
    width: 100%;
  }

  button {
    @include font-poppins-semibold;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    float: right;
    font-size: 1rem;
    box-shadow: 1.7px 1.7px 0 0.5px #000;

    height: 4rem;
    width: 8rem;

    &:active {
      background-color: $color-background;
      color: $color-text;
    }
  }
}
